@font-face {
    font-family: Roboto;
    src: url(fonts/Roboto-Black.ttf);
}

.header {
   /* border:solid red; /*for debugging*/
    background-color: #1f2937;
    display: flex;
    flex-direction:row;
    justify-content: space-around;
    align-items: center;
}

.header-logo {
   /* border:solid blue; /*for debugging*/
    color:#fff;
    font-size: 24px;
    font-family: Roboto;
}

.header-link {
    /*border:solid greenyellow; /*for debugging*/
    display: inline-flex;
    margin: 5px;
 }

 a:link{
    color: #fff;
    text-decoration: none;
    font-family: Roboto;
    font-size: 12px;;
 }

