@font-face {
    font-family: Roboto;
    src: url(fonts/Roboto-Black.ttf);
}

*{
    font-family: Roboto;
   /*  border:solid red; /*for debugging*/
}

.header {
   /* border:solid red; /*for debugging*/
    background-color: #1f2937;
    display: flex;
    flex-direction:row;
    justify-content: space-around;
    align-items: center;
}/* border:solid red; /*for debugging*/

.header-logo {
   /* border:solid blue; /*for debugging*/
    color:#f9faf8;
    font-size: 24px;
}

.header-link {
    /*border:solid greenyellow; /*for debugging*/
    display: inline-flex;
    margin: 5px;
 }

 a:link{
    color:#e5e7eb;
    text-decoration: none;
    font-size: 18px;;
 }


 .hero{
    border: solid red;
    background-color: #1f2937;
    display: flex;
    justify-content:space-around;
    align-items: center;
  
 }

 .hero-text-box {
   border: solid green;
   display: flex;
  flex-direction: column;
   align-items: center;
 }

 .hero-title {
    border: solid #3882f6;
    font: bold 4;
    font-size: 48px;
    color: #f9fafb;
    width: 300px;
    
 }

 .hero-text {
    border: solid #3882f6;
    color:#e5e7eb;
    font-size: 18px;
    width: 250px;
 }

 .hero-button {
    border: solid #3882f6;
    color: #e5e7eb;
    background-color: #3882f6;
    margin: 5px;
 }

 .hero-image {
   /* border: solid;*/
    color: #fff; 
    background-color: gray;
    width: 400px;
    height: 150px;
/*    align-self: flex-end;
    align-items: center;*/
    display: flex;
    justify-content: center;
    align-items: center;
 }




